<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="#" rel="favicon">
</head>
<body>
  <header>
      <a href="/">
      <div class="circle">
      </div>
      </a> 
      </a> 
   <h1>Not a blog. A site in construction / Laura Sinisterra</h1>
   <h2>Latest post <small>(June 2020)</small>: <a href="#">Disclaimer</a>
    </h2>
 </header>
 <main>
   <div class="one">
     <ul>
        <li><a href="/first">/Hello</a> </li>
	     <li>/ First, a <a href="/disclaimer">Disclaimer</a> </li>
       </ul>

     </div> 
   <div class="next">
     Next:
     <li>/ My <a href="/personal-user-manual">personal user manual</a><small></small></li>
       <li>/ This is pure clickbait: <a href="/portfolio-process" target="">How I learned to stop worrying and love the process</a> <small>(about my portfolio site)</small>
   </div> 
         <!--
        /Hello, these are my drafts for future posts, in no particular order:<li>/ Let's make a <a href="#">Fanzine together</a></li>
        <li>/ I've been thinking about <a href="#">Diagrams</a> </li>
             <li>/ On becoming a designer that can <a href="#" target="">code</a> <small>(ongoing)</small> </li>
             <li>/ May I have your <a href="#">permission?</a></li>
             <li>/ This is my personal <a href="#">project management</a> system</li>
             <li>/ Let's discuss the <a href="Public-private">public and private</a></li>
             <li>/ Here is something I wrote about <a href="#">Architecture as web design</a> </li>
             <li>/ About <a href="#">Being human</a> </li>
             <li>/ There is something special about <a href="#">Meatballs</a> </li>
             <li>/ Why I love chickens, <a href="#">in this essay I will</a></li>
             <li>/ For a change, something <a href="#">serious</a> </li>
             <li>/ I have things to say about the nature of <a href="#">Mangoes</a> (<i>and a quick note on pinneaples</i>)  </li>
             <li>/ There is nothing <a href="#" target="">here</a> (<i>seriously</i>) </li>
             <li>/ I was once on a boat in the middle of the <a href="#" target="">Pacific Ocean</a> </li>
             <li>/ This is a separate section about making <a href="#" target="">art as an artist</a> and a note on why I think <a href="#" target="">categories</a> are not useful.<br></li>
             -->
             </p>
       </main>
   <footer> 
           You can find me on <a href="http://www.twitter.com/lauracsc_" target="_blank">twitter</a> and <a href="https://www.are.na/laura-sinisterra" target="_blank">are.na</a>. 
     <br>
        <small>
          This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>. Hosted on <a href="https://github.com/LauraSinisterra/Blog" target="_blank">GitHub</a> <br>
         © 2020 — Laura Sinisterra
       </small>
   </footer>
 </body>
 </html>
