<!DOCTYPE html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <header class="post">
    <a href="/index">
      <div class="circle">
      </div>
      </a> 
   <h1>First</h1>
   <h2> This is a great title for a first post</h2>
   <h3 class="meta">{{ page.date | date_to_string }}</h3>
 </header>
 <main class="post">
  {{ content }}
   </main>
   <div class="lownav">
      <a href="/index">&uarr;Back</a>
      <a href="/disclaimer">Disclaimer&rarr;</a>
     </div> 
 </body>
 </html>
